extends layout

block app
    .container
        h1 User Management
        hr
        .page
        
    script#user_list(type="text/template")
        a.btn.btn-primary(href="#/new") New User
        hr
        table.table.table-striped
            thead
                tr
                    th Username
                    th First Name
                    th Last Name
                    th
            tbody
                <% _.each(users, function(users) { %>
                tr
                    td <%= users.user %>
                    td <%= users.first %>
                    td <%= users.last %>
                    td
                <% }); %>
    
    script#edit_user(type="text/template")
        form(method="post", role="form")#edit_user_form
            legend Create User
            div.form-group
                label(for="user") Username
                input#user.form-control(type="text", name="user", autofocus)
            div.form-group
                label(for="first") First Name
                input#first.form-control(type="text", name="first")
            div.form-group
                label(for="last") Last Name
                input#last.form-control(type="text", name="last")
            input.btn.btn-default(type="submit") Create








