xblue   = #0c5a9f
xyellow = #ffb300

.transition
    transition all 0.25s ease-in-out
    
.default
    background #eee
    color #111
    transition all 0.25s ease-in-out
    
    a
        &:link, &:visited
            color xblue
            transition all 0.25s ease-in-out
        &:hover, &:active
            color #fff
            background xblue
            transition all 0.25s ease-in-out
        
    span.button
        background xblue
        color #fff
        transition all 0.25s ease-in-out
        &:hover
            background none
            color xblue
            transition all 0.25s ease-in-out
        &:active
            background none
            color xyellow
            transition all 0.25s ease-in-out
        
    .xheader
        nav
            background #666
            transition all 0.25s ease-in-out
            ul li
                &.active
                    a:link, a:visited
                        background xblue
                        text-shadow none
                        transition all 0.25s ease-in-out
                a:link, a:visited
                    color #fff
                    transition all 0.25s ease-in-out
                a:hover, a:active
                    background xblue
                    text-shadow none
                    transition all 0.25s ease-in-out
                            
    .app
        .xcontent .content article
            background #fff
            transition all 0.25s ease-in-out
            .info
                color #999
                transition all 0.25s ease-in-out
                
    aside
        background #fff
        transition all 0.25s ease-in-out
        
    .xfooter
        background #666
        transition all 0.25s ease-in-out
        p
            color #fff
            transition all 0.25s ease-in-out
            
.monochrome
    background #fff
    color #000
    transition all 0.25s ease-in-out
    
    a
        &:link, &:visited
            color #000
            transition all 0.25s ease-in-out
        &:hover, &:active
            color #fff
            background #000
            transition all 0.25s ease-in-out
        
    span.button
        background #000
        color #fff
        transition all 0.25s ease-in-out
        &:hover
            background none
            color #000
            transition all 0.25s ease-in-out
        &:active
            background none
            color xyellow
            transition all 0.25s ease-in-out
        
    .xheader
        nav
            background #fff
            transition all 0.25s ease-in-out
            ul li
                &.active
                    a:link, a:visited
                        background #000
                        color #fff
                        text-shadow none
                        transition all 0.25s ease-in-out
                a:link, a:visited
                    color #000
                    transition all 0.25s ease-in-out
                a:hover, a:active
                    background #000
                    color #fff
                    text-shadow none
                    transition all 0.25s ease-in-out
                            
    .app
        .xcontent .content article
            background #fff
            transition all 0.25s ease-in-out
            .info
                color #999
                transition all 0.25s ease-in-out
                
    aside
        background #fff
        transition all 0.25s ease-in-out
        
    .xfooter
        background #fff
        transition all 0.25s ease-in-out
        p
            color #000
            transition all 0.25s ease-in-out









