@import "nib"
@import url("http://fonts.googleapis.com/css?family=Quicksand")
@import url("http://fonts.googleapis.com/css?family=Open+Sans:700,400")

// global-reset()

*, *:before, *:after
    -webkit-box-sizing content-box
    -moz-box-sizing content-box
    box-sizing content-box

border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n

html, body
    font-size 90%
    font-family "Open Sans", sans-serif
    line-height 1.5
    text-align left
    
a
    text-decoration none
    padding 2px 4px
    &:hover, &:active
        border-radius(5px)
        text-decoration none

h3
    margin 24px auto
        
span.button
    padding 2px 4px
    border-radius(5px)
    &:hover
        cursor pointer
        text-decoration underline
    &:active
        cursor pointer
        text-decoration underline
    
.body
    margin 0 auto
    width 70%
    clear both
    
.xheader
    img
        width 30%
        height auto
        margin 2% 0
    nav
        height 40px
        border-radius(5px)
        ul
            list-style none
            margin 0 auto
            li
                float left
                display inline
                a
                    border-radius(5px)
                    &:link, &:visited
                        display inline-block
                        padding 12px 25px
                        height 16px
                    &:hover, &:active
                        text-shadow none
                        
.app
    .xcontent
        line-height 25px
        border-radius(5px)
        .content
            width 70%
            float left
            article
                padding 3% 5%
                margin-top 2%
                border-radius(5px)
                &.post
                    display none
                &:not(.post):not(.ignore)
                    footer, section
                        display none
                .info
                    font-style italic
                    font-size 90%
                form
                    padding-right 5%
aside
    width 22%
    float left
    padding 2% 3%
    margin 1.4% 0 0 2%
    border-radius(5px)
    
.xfooter
    width 100%
    height 40px
    float left
    margin 2% 0
    border-radius(5px)
    p
        width 90%
        height 16px
        margin 12px auto
        
@media only screen and (min-width: 980px)
    .tag
        width 60px
        display inline-block
        
@media only screen and (min-width: 640px) and (max-width: 979px)
    .body
        width 95%
        
    .xheader
        img
            width 50%
    .tag
        width 0
        display block
        
@media only screen and (min-width: 144px) and (max-width: 639px)
    .body
        width 95%
        
    .xheader
        img
            width 100%
        nav
            height 160px
            ul
                padding 0
                li
                    width 100%
                    text-align center
                    a
                        &:link, &:visited
                            padding 12px 25px
                            height 16px
                            display block
                            
    .app
        .xcontent
            .content
                width 100%
                float left
                article
                    margin-top 4%
                    .info
                        display none
                    
    aside
        width 94%
        float left
        padding 2% 3%
        margin 4% auto 0
        .tag
            width 60px
            display inline-block
        
    .xfooter
        float left
        margin 4% 0
        span
            display none









