@import "nib"
// @import url("http://fonts.googleapis.com/css?family=Quicksand")
@import url("http://fonts.googleapis.com/css?family=Open+Sans:700,400")

// global-reset()

xblue   = #0c5a9f
xyellow = #ffb300
sgrey   = #708090

*, *:before, *:after
    -webkit-box-sizing content-box
    -moz-box-sizing content-box
    box-sizing content-box

border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n
    
.transition
    transition all 0.25s ease-in-out

html, body
    font-size 90%
    font-family "Open Sans", sans-serif
    line-height 1.5
    text-align left
    background sgrey
    color #000
    position relative
    height 100%
    
a
    text-decoration none
    padding 2px 4px
    &:link, &:visited
        color xblue
        transition all 0.25s ease-in-out
    &:hover, &:active
        color #fff
        background xblue
        text-decoration none
        transition all 0.25s ease-in-out
        border-radius(5px)

.body
    width 70%
    margin 0 auto
    
.app 
    .view 
        .cmd
            position absolute
            margin auto
            top 0
            bottom 0
            left 0
            right 0
            box-shadow 0 3px 5px 0 rgba(0, 0, 0, 0.50),
                       inset 0 0 0 3px rgba(112,128,144,0.1),
                       0 3px 0 -2px rgba(0,0,0,0.1)





