@import "nib"
// @import url("http://fonts.googleapis.com/css?family=Quicksand")
@import url("http://fonts.googleapis.com/css?family=Open+Sans:700,400")

// global-reset()

xblue   = #0c5a9f
xyellow = #ffb300

border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n
    
.transition
    transition all 0.25s ease-in-out

html, body
    font-size 90%
    font-family "Open Sans", sans-serif
    line-height 1.5
    text-align left
    background #fff
    color #000
    
a
    text-decoration none
    padding 2px 4px
    &:link, &:visited
        color xblue
        transition all 0.25s ease-in-out
    &:hover, &:active
        color #fff
        background xblue
        text-decoration none
        transition all 0.25s ease-in-out
        border-radius(5px)

.body
    width 70%
    margin 0 auto
    
// .app






