@import url("http://fonts.googleapis.com/css?family=Open+Sans:700,400");
.transition {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
html,
body {
  font-size: 90%;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  text-align: left;
  background: #fff;
  color: #000;
}
a {
  text-decoration: none;
  padding: 2px 4px;
}
a:link,
a:visited {
  color: #0c5a9f;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
a:hover,
a:active {
  color: #fff;
  background: #0c5a9f;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.body {
  width: 70%;
  margin: 0 auto;
}
