input.cmd.form-control(type="text", placeholder="Command..." enter)
#canvas
.sheet
    p
        strong {{header.command}}
        strong.pull-right {{header.description}}
    div(ng-repeat="help in helper")
        p {{help.command}}
            em.pull-right {{help.description}}