extends layout

block app
    h1 Statusi
    br
    form#new-status(method="post")
        legend New Status
        .form-group
            .input-group
                span.input-group-addon @
                input.form-control(type="text", name="author", autofocus,
                                    placeholder="Username...")
        .form-group
            .input-group
                input.form-control(type="text", name="content",
                                    placeholder="Status...")
                span.input-group-btn
                    input.btn.btn-default(type="submit") Create
    hr
    .page
    
    script#status-tmpl(type="text/template")
        a.pull-left(href="#")
            .block.media-object
        .media-body
            h4.media-heading <%= author %>: 
            p <%= content %>








