!!! 5
meta(charset="utf-8")
title= title
link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet", href="/stylesheets/style.css")

.app
    header
        h1  JavaScript Sandbox
        p • because i can •

    .container.size
        .main-content
            .ng(ng-app="nglearnApp")
                // Angular Goes Here
                block app
        .sidebar
            .widget
                h1 Settings
                p
                    | Theme: 
                    span.theme.default
                    //- | Sed auctor neque eu tellus rhoncus ut
                    //- | eleifend nibh porttitor. Ut in nulla enim.
                    //- br
                    //- br
                    //- span.btn Click Me
    footer.size
        span.copyright  &copy; Copyright 2014 Kylobite. All rights reserved.
        span.engine     Running on Express with AngularJS
.backdrop
    .popup
        | CLICK THE POP UP

// JavaScript Goes Here
script(src="/components/jquery/dist/jquery.js")
script(src="/components/angular/angular.js")
script(src="/components/bootstrap/dist/js/bootstrap.js")
script(src="/components/angular-resource/angular-resource.js")
script(src="/components/angular-cookies/angular-cookies.js")
script(src="/components/angular-sanitize/angular-sanitize.js")
script(src="/components/angular-route/angular-route.js")

script(src="/javascripts/app.js")
script(src='/javascripts/effects.js')
script.
    var size  = (100 - (((document.body.clientWidth) * 0.01) * 2)) + "%";
    var sizes = document.getElementsByClassName("size");
    for (var i = 0, j = sizes.length; i < j; i += 1) {
        sizes[i].style.width = size;
    }
script(src='/javascripts/canvas.js')