!!! 5
meta(charset="utf-8")
title= title
link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet", href="/stylesheets/style.css")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

body.body
    .app(ng-app="sandbox")
        block app

// JavaScript Goes Here
script(src="/components/jquery/dist/jquery.min.js")
script(src="/components/underscore/underscore.js")
script(src="/components/angular/angular.min.js")
script(src="/components/bootstrap/dist/js/bootstrap.min.js")
//- script(src="/components/angular-resource/angular-resource.js")
//- script(src="/components/angular-cookies/angular-cookies.js")
//- script(src="/components/angular-sanitize/angular-sanitize.js")
script(src="/components/angular-route/angular-route.min.js")

//- script(src='/javascripts/effects.js')
script(src="/javascripts/app.js")