extends layout

block app
    .ng-block
        div(ng-controller="TestCtrl")
            h3 Hello 
                span {{data.message}}

    .ng-block
        input.form-control(type="text", ng-model="message")
        h3 {{message}}
        div(ng-controller="ThisCtrl")
            input.form-control(type="text", ng-model="message")
            h3 {{message}}
        div(ng-controller="ThatCtrl")
            input.form-control(type="text", ng-model="message")
            h3 {{message}}

    .ng-block
        div(ng-controller="RedCtrl")
            input.form-control(type="text", ng-model="share.message")
            h3 {{share.message}}
        
        div(ng-controller="BlueCtrl")
            input.form-control(type="text", ng-model="share.message")
            h3 {{flipMessage(share.message)}}
            input.form-control(type="text", ng-model="share.message")
            h3 {{share.message|mirror}}

    .ng-block
        div(ng-controller="ProjectCtrl")
            input.form-control(type="text", ng-model="search.$")
            table.table.table-striped
                tr(ng-repeat="tool in project.tools | orderBy:'-name' | limitTo:'6' | filter:search")
                    td {{tool.name | lowercase}}
                    td {{tool.isFor | uppercase}}
    .ng-block
        fromjs
        div(fromjs, stacked)
        #fromjs(class="fromjs")