!!! 5
meta(charset="utf-8")
title= title
link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.css")
link(rel="stylesheet", href="/stylesheets/style.css")

.app
    header
        h1  Learning Angular
        p   • codename: ng-learn •

    .container.size
        .main-content
            .ng(ng-app="nglearnApp")
                block app
        .sidebar
            .widget
                h1 Widget
                p
                    | Sed auctor neque eu tellus rhoncus ut
                    | eleifend nibh porttitor. Ut in nulla enim.
                    br
                    br
                    span.btn Click Me
    footer.size
        span.copyright  &copy; Copyright 2014 Kylobite. All rights reserved.
        span.engine     Running on Express with AngularJS
.popup
    | CLICK THE POP UP
block javascript